@import "normalize"

*
  box-sizing: border-box

$title: #252B42

body
  font-family: 'Montserrat', sans-serif
  font-style: normal

h1
  color: $title
  font-size: 58px
  font-weight: 800
  line-height: 80px
  letter-spacing: 0.2px

h2
  color: $title
  font-size: 40px
  font-weight: 700
  line-height: 57px
  letter-spacing: 0.2px

h3
  color: $title
  font-size: 24px
  font-weight: 700
  line-height: 32px
  letter-spacing: 0.1px

h4
  color: $title
  font-size: 20px
  font-weight: 500
  line-height: 30px
  letter-spacing: 0.2px

h5
  color: $title
  font-size: 16px
  font-style: normal
  font-weight: 700
  line-height: 24px
  letter-spacing: 0.1px

h6
  color: $title
  font-size: 14px
  font-weight: 600
  line-height: 24px
  letter-spacing: 0.2px

.container
  max-width: 1440px
  width: 95%
  margin: 0 auto

.header
  &-wrap
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding: 23px 35px
    background: #fff
    z-index: 2
  &-img
    display: block
  &-menu
    display: none
  &-icon
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 25px
  &-burger
    display: block
    width: 25px
    height: 25px

  &-burger-icon
    position: relative
    display: block
    width: 22px
    height: 2px
    background: #000
    top: 12px
    &::before
      content: ''
      position: absolute
      width: 25px
      height: 2px
      top: -8px
      right: 0
      background: #000
    &::after
      content: ''
      position: absolute
      width: 19px
      height: 2px
      top: 8px
      right: 0
      background: #000
  &-nav
    &-mobile
      position: relative
      height: 0px
      text-align: center
      padding: 0
      transform: translateY(-460px)
      background: #fff
      z-index: 1
      transition: 0.3s
    &-item
      display: block
      text-decoration: none
      color: #737373
      font-size: 30px
      font-weight: 400
      line-height: 45px
      letter-spacing: 0.2px
      &:not(:last-child)
        margin-bottom: 30px

.activ
  height: 458px
  transform: translateY(0px)
  padding: 80px 0 96px

.hero
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border-radius: 20px
  background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%)
  padding-top: 80px
  overflow: hidden
  gap: 66px
  margin-bottom: 110px
  &-content
    text-align: center
  &-subtitle
    color: #2A7CC7
    text-align: center
    margin: 0 0 33px
  &-title
    max-width: 260px
    font-size: 40px
    font-weight: 700
    line-height: 50px
    text-align: center
    margin: 0 0 33px
  &-text
    max-width: 256px
    text-align: center
    color: #737373
    margin: 0 0 33px
  &-img
    display: block
  &-btn
    padding: 15px 40px
    border-radius: 5px
    background: #23A6F0
    border: 0
    color: #fff

.sponsor
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 60px
  padding: 50px 0
